<h1> <%= @post.title %></h1>
<p><%= @post.body %></p>

<%= link_to 'Leave comment', new_blog_author_post_comment_path(@post) %>

<table class="table">
  <%= render @comments %>
</table>

<%= link_to 'Back', blog_author_posts_path %>
